<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travels</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@400;600&family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header class="header">
        <div class="nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                        <img src="img/logo.svg" alt="Logo MNTN">
                    </div>
                    <div class="offset-md-3 col-md-4">
                        <div class="nav-cont d-flex justify-content-center">
                            <p class="nav-cont__text">Equipment</p>
                            <p class="nav-cont__text">About us</p>
                            <p class="nav-cont__text">Blog</p>
                        </div>
                    </div>
                    <div class="offset-md-3 col-md-1">
                        <div class="nav-account">
                            <p class="nav-account__text">Account</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offer">
            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                        <div class="offer-social">
                            <p class="offer-social__text">Follow&nbsp;us</p>
                            <p><img src="img/instagram.svg" alt="Instagram"></p>
                            <p><img src="img/twitter.svg" alt="Twitter"></p>
                        </div>
                    </div>
                    <div class="offset-md-1 col-md-8">
                        <div class="offer-cont">
                            <div class="offer-cont__topic">
                                <p class="offer-cont__topic-text">
                                    A hiking guide
                                </p>
                            </div>
                            <h1 class="offer-cont__title">
                                Be Prepared For The Mountains And Beyond!
                            </h1>
                            <div class="offer-cont__scroll">
                                scroll down
                                <div class="offer-cont__scroll-img">
                                    <img src="img/arrow.svg" alt="Arrow">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="offset-md-1 col-md-1">
                        <div class="offer-nav">
                            <div class="offer-nav__text">
                                <p>Start</p>
                                <p>01</p>
                                <p>02</p>
                                <p>03</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="start">
        <div class="container">
            <div class="row">
                <div class="offset-md-1 col-md-6 d-flex align-items-center">
                    <div class="start-cont">
                        <div class="start-cont__topic">
                            <p class="start-cont__topic-text">
                                Get started
                            </p>
                        </div>
                        <h2 class="start-cont__title">
                            What level of  hiker <br> are you?
                        </h2>
                        <p class="start-cont__text">
                            Determining what level of hiker you are can be an important tool when planning future
                            hikes. This hiking level guide will help you plan hikes according to different hike
                            ratings set by various websites like All Trails and Modern Hiker. What type of hiker
                            are you – novice, moderate, advanced moderate, expert, or expert backpacker?
                        </p>
                        <div class="start-cont__link">
                            read more
                            <div class="start-cont__link-img">
                                <img src="img/yellow-arrow.svg" alt="Arrow">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="start__img">
                        <img src="img/01.jpg" alt="Picture 1">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="essentials">
        <div class="container">
            <div class="row">
                <div class="offset-md-1 col-md-4">
                    <div class="essentials__img">
                        <img src="img/02.jpg" alt="Picture 2">
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <div class="essentials-cont">
                        <div class="essentials-cont__topic">
                            <p class="essentials-cont__topic-text">
                                Hiking essentials
                            </p>
                        </div>
                        <h3 class="essentials-cont__title">
                            Picking the right Hiking Gear!
                        </h3>
                        <p class="essentials-cont__text">
                            The nice thing about beginning hiking is that you don’t really need any special gear,
                            you can probably get away with things you already have.
                            Let’s start with clothing. A typical mistake hiking beginners make is wearing jeans
                            and regular clothes, which will get heavy and chafe wif they get sweaty or wet.
                        </p>
                        <div class="essentials-cont__link">
                            read more
                            <div class="essentials-cont__link-img">
                                <img src="img/yellow-arrow.svg" alt="Arrow">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="key">
        <div class="container">
            <div class="row">
                <div class="offset-md-1 col-md-6 d-flex align-items-center">
                    <div class="key-cont">
                        <div class="key-cont__topic">
                            <p class="key-cont__topic-text">
                                Where you go is the key
                            </p>
                        </div>
                        <h4 class="key-cont__title">
                            Understand Your <br> Map & Timing
                        </h4>
                        <p class="key-cont__text">
                            To start, print out the hiking guide and map. If it’s raining, throw them in a Zip-Lock
                            bag. Read over the guide, study the map, and have a good idea of what to expect. I like
                            to know what my next landmark is as I hike. For example, I’ll read the guide and know
                            that say, in a mile, I make a right turn at the junction..
                        </p>
                        <div class="key-cont__link">
                            read more
                            <div class="key-cont__img">
                                <img src="img/yellow-arrow.svg" alt="Arrow">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="key__img">
                        <img src="img/03.jpg" alt="Picture 3">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="offset-md-1 col-md-3">
                    <div class="footer-cont">
                        <img src="img/logo.svg" alt="Logo MNTN">
                        <p class="footer-cont__text">
                            Get out there & discover your next slope, mountain & destination!
                        </p>
                        <p class="footer-cont__copyright">
                            Copyright 2019 MNTN, Inc. Terms & Privacy
                        </p>
                    </div>
                </div>
                <div class="offset-md-3 col-md-4 d-flex justify-content-between">
                    <ul class="info-list">
                        <li class="info-list__title">
                            More on The Blog
                        </li>
                        <li class="info-list__item">
                            About MNTN
                        </li>
                        <li class="info-list__item">
                            Contributors & Writers
                        </li>
                        <li class="info-list__item">
                            <span id="openRegisterForm" class="btn-open">
                                 Write For Us
                            </span>
                            <form id="registerForm" class="modal">
                                <div class="modal-cont">
                                    <div class="d-flex justify-content-between mb-3">
                                        <h5>Feedback</h5>
                                        <span class="btn-close"></span>
                                    </div>
                                    <table>
                                        <tr>
                                            <td>Name</td>
                                            <td><label>
                                                <input type="text" id="firstName" required>
                                            </label></td>
                                        </tr>
                                        <tr>
                                            <td>Surname</td>
                                            <td><label>
                                                <input type="text" id="surname" required>
                                            </label></td>
                                        </tr>
                                        <tr>
                                            <td>E-mail</td>
                                            <td><label>
                                                <input type="email" id="email" placeholder="example@gmail.ru" required>
                                            </label></td>
                                        </tr>
                                        <tr>
                                            <td>Phone</td>
                                            <td><label>
                                                <input type="text" id="phone" placeholder="+X(XXX)XX-XX-XXX">
                                            </label></td>
                                        </tr>
                                        <tr>
                                            <td>Message</td>
                                            <td><label>
                                                <textarea id="message" cols="22" rows="3" required></textarea>
                                            </label></td>
                                        </tr>
                                    </table>
                                    <div class="modal-end">
                                        <button id="sendRegisterForm" class="btn-send" type="button">
                                            Send
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </li>
                        <li class="info-list__item">
                            Privacy Policy
                        </li>
                    </ul>
                    <ul class="info-list">
                        <li class="info-list__title">
                            More on MNTN
                        </li>
                        <li class="info-list__item">
                            The Team
                        </li>
                        <li class="info-list__item">
                            Jobs
                        </li>
                        <li class="info-list__item">
                            <span id="openTableForm" class="btn-open">
                                Press
                            </span>
                            <form id="tableForm" class="modal">
                                <div class="modal-cont">
                                    <div class="d-flex justify-content-between mb-3">
                                        <h5>Information about users</h5>
                                        <span class="btn-close"></span>
                                    </div>
                                    <div id="table-area" class="contacts"></div>
                                    <div class="modal-end">
                                        <button id="deleteRow" class="btn-send" type="button">
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script type="module" src="./js/main.js"></script>
</body>
</html>
